@font-face {
    font-family: nurburgring;
    src: url('/frontend/public/NotesStyleNbr-Brand.ttf');
}

@font-face {
    font-family: automobile;
    src: url('/frontend/public/GranTorino-ALKDL.otf');
}

@font-face {
    font-family: username;
    src: url('/frontend/public//ethnocentric\ rg.otf');
}


.Home .wel {
    font-size: 2rem;
}


.Home .user {
    font-family: username;
    color: blanchedalmond;
}